<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/basket.css" />
    <title>Slo Day</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="warning">
        <img alt="warning" class="outcome" />
        <div class="reward block"></div>
        <div class="again block">Ok</div>
      </div>

      <div class="balance_field"></div>

      <a href="./main.html" class="home block">
        <img src="../png/home.png" alt="home" />
      </a>

      <div class="basket_cont">
        <img src="../png/shield.png" alt="shield" class="shield" />
        <img src="../png/basket.png" alt="basket" class="basket" />
        <img src="../png/post.png" alt="post" class="post" />
        <div class="ring"></div>
      </div>

      <div class="shoots_left block">5</div>

      <div class="basket_footer">
        <img src="../png/hit.png" alt="hit" />
        <div class="text">Direct hit</div>
        <div class="hit_amount block"></div>
      </div>
    </div>
    <script src="../scripts/basket.js" type="module"></script>
  </body>
</html>
