<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Slo Day</title>
  </head>
  <body>
    <div class="orientation block">Rotate the screen</div>

    <div class="wrapper">
      <div class="balance_field"></div>
      <div class="card basket">
        <div class="inner_card">
          <div class="title block">Basketball</div>
          <img src="../png/pers_1.png" alt="pers" class="pers" />
        </div>
      </div>

      <div class="card spin">
        <div class="inner_card">
          <div class="title block">Spin Ball</div>
          <img src="../png/card_spin.png" alt="spin" class="spin_back" />
        </div>
      </div>

      <div class="control">
        <div class="first active"></div>
        <div class="second"></div>
      </div>

      <a href="./avatar.html" class="button block">Play</a>
      <img src="../png/main_footer.png" alt="footer" class="footer_pic" />
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
