<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/shop.css" />
    <title>Slo Day</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="balance_field"></div>

      <a href="./main.html" class="home block">
        <img src="../png/home.png" alt="home" />
      </a>

      <div class="shop"></div>

      <div class="footer">
        <a href="./avatar.html" class="button block">
          <img src="../png/logo_pers.png" alt="logo" />
        </a>
        <a href="./start.html" class="button block">
          <img src="../png/logo_game.png" alt="logo" />
        </a>
        <div href="./shop.html" class="button big block">
          <img src="../png/logo_shop_gold.png" alt="logo" />
          <div class="text">Shop</div>
        </a>
      </div>
    </div>
    <script src="../scripts/shop.js" type="module"></script>
  </body>
</html>
