<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/spin.css" />
    <title>Slo Day</title>
  </head>
  <body>
    <div class="orientation block">Rotate the screen</div>

    <div class="wrapper block">
      <div class="warning">
        <img alt="warning" class="outcome" />
        <div class="reward block"></div>
        <div class="again block">Ok</div>
      </div>

      <a href="./main.html" class="home block">
        <img src="../png/home.png" alt="home" />
      </a>

      <div class="main">
        <div class="cf_cont"></div>
        <div class="field"></div>

        <div class="balance_field">
          <div class="text">Balance</div>
          <div class="balance"></div>
        </div>

        <div class="bet_amount_cont">
          <div class="text">Bet Sum</div>
          <div class="bet_amount">0</div>
        </div>

        <div class="control">
          <div class="min block">min</div>
          <div class="minus block">-</div>
          <div class="plus block">+</div>
          <div class="max block">max</div>
        </div>

        <div class="bet_button">
          <div class="text">Bet</div>
          <img src="../png/spin_button.png" alt="spin" />
        </div>
      </div>
    </div>
    <script src="../scripts/spin.js" type="module"></script>
  </body>
</html>
