body {
  background-image: url("../png/game_back.png");
  background-position: center;
  background-size: cover;
}

.wrapper {
  font-size: 24px;
}

.footer .button.big img {
  max-height: 60%;
}

.play {
  position: absolute;
  left: 50%;
  bottom: 30%;
  z-index: 2;
  transform: translateX(-50%);

  height: 8%;
  width: 60%;
  max-width: 350px;

  color: #842626;
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 0px 4px 9px rgba(255, 255, 255, 0.98), 0px 4px 10px #ffffff,
    0px 0px 15px #ffffff;

  background: radial-gradient(
    99.75% 256.67% at 39.22% -33.33%,
    #ffdf28 0%,
    #fffe45 35.73%,
    #ffca38 75.31%,
    #ffffdb 97.46%
  );
  border: 1px solid #511313;
  box-shadow: 0px 3px 0px #ea7e00, 0px 9px 30px #ffffff;
  border-radius: 10px;
}

.pers {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  max-height: 60%;
  max-width: 100%;
}
